# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.apk
android/app/src/main/assets/textures/*.dat
android/app/src/main/assets/audio/*.dat
android/app/src/main/assets/images/*.dat
android/app/src/main/assets/shaders/*.dat
